@font-face{
  font-family: Cavity;
  src:url('../assist/Mirvoshar.ttf');
}

body{
  background-color:#0D5661;
  margin:0;
  
}

#bgWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../assist/texture.png);
}

#gloss {
    position: fixed;
    width: 100%;
    height: 478px;
    background: url(../assist/gloss.png) repeat-x;
}

#dot0{
	width:120px;
	height:200px;
	position: fixed;
  top:45%;
  left:45%;
  animation-name: appear;
	animation-duration: 4s;
  animation-timing-function: ease-in;
	animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

#dot1{
  width:120px;
  height:200px;
  position: fixed;
  top:45%;
  left:45%;
  display:none;
}

#dot2{
  width:120px;
  height:200px;
  position: fixed;
  top:45%;
  left:45%;
  display:none;
}

#dot3{
  width:120px;
  height:200px;
  position: fixed;
  top:45%;
  left:45%;
  display:none;
}

.title{
  font-family: 'Cavity';
  display: inline-block;
  font-size: 140px;
}

#Pale{
  color:black;
  position:fixed;
  left:15%;
  top:-55%;
}

#Pink{
  position:fixed;
  left:38%;
  top:-10%;
  color:transparent;
}

#Dot{
  color:black;
  position:fixed;
  left:62%;
  top:-55%;
}

#buttonRotate {
  width: 25px;
  height: 25px;
  transition: all 0.5s;
  background-color: transparent;
  border-style:dashed;
  position: fixed;
  top:37%;
  left:48.7%;
  animation:rotate 2s linear infinite;
  opacity: 0;
}

#buttonRotate:hover {
  background-color:#EEA9A9;
}

#scale{
  position: fixed;
  top:30%;
  display: none;
}

#dotdot1{
  width: 5%;
}

#h2o{
  width:5%;
}

#cells{
   width:5%
}

#turtle{
  width: 9%;
}

#break{
   width:10%;
}

#whale{
  width: 24%;
}

#earth{
  width:26%;
}

#dotdot2{
  width: 5%;
}

.scales{
  display: inline-block;
  padding-left: 10px;
  opacity: 100;
 }

.convo{
  position:fixed;
  display: none;
}

#convo1{
  width:105px;
  top:37%;
  left:30%;
}

#convo2{
  width:105px;
  top:37%;
  left:30%;
}

#convo3{
  width:150px;
  top:32%;
  left:28%;
}

#convo4{
  width:150px;
  top:32%;
  left:28%;
}

#convo5{
  width:200px;
  top:15%;
  left:57%;
}

.arrow{
  display: none;
  position: fixed;
  top:4%;
  width:30%;
  filter: contrast(50%);
}

.arrow:hover{
  filter: contrast(100%);
}

#leftArrow{
  left:0;
}


#rightArrow{
  right:0;
}

@keyframes appear{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity:100;
  }
}


@keyframes moveDown{
   0%{
    top:-55%;
   }
   40%{
    top:-50%;
   }
   90%{
    top:-9%;
   }
   100%{
    top:-10%;
   }
}

@keyframes appearP{
  0%{
    color:transparent;
  }
  50%{
    color:transparent;
  }
  100%{
    color:#EEA9A9;
  }
}

@keyframes rotate{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

@keyframes disappear{
  0%{
    top:-10%;
  }
  100%{
    top:-10%;
    opacity: 0;
  }
}

@keyframes disappearP{
  0%{
    color: #EEA9A9;
  }
  100%{
    color:transparent;
  }
}

@keyframes move{
  0%{
    width:120px;
    height:200px;
    top:45%;
    left:45%;
  }
  100%{
    width:102px;
    height:170px;
    top:53%;
    left:30%;
  }
}


/*#boom{
 cursor: pointer;
  color: #009999;
  border: #009999;
  opacity: 0;
  transform: scale(2, 2);
}

*/

/*@keyframes rotateY{
  0%{
    transform: rotateY(-90deg);
  }
  50%{
    transform: rotateY(-90deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}*/
